.underline-animation::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Adjust based on your needs */
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, rgb(255, 153, 0), rgba(255, 0, 185, 1), rgba(0, 255, 200, 1));
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}